*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: inherit;
}

.Cover .Analytics{
    overflow-x: scroll;
}

.AddReport{
    width: 100vw;
    min-height: 100vh;
    background: #efefef;
    padding-top: 3rem;
}

.AddReport .head{
    display: flex;
    color: #0c63e6;
}

.head.displayName{
    justify-content: flex-start;
    padding: 0 0rem 1rem 2rem;
    display: none;
}

.AddReport .wrap{
    width: 60%;
    margin: auto;
    padding: 3rem 4rem;
    background: white;
    border-radius: 15px;
}

.AddReport .select{
    width: 100%;
}

.AddReport input{
    border: none;
    border-bottom: 1px solid rgb(122, 120, 120);
    position: relative;
    background: inherit;
    width: 30%;
    margin: 1rem auto;
    margin-right: 1rem;
    padding: 0.6rem;
}

.AddReport .Input input{
    width: 100%;
    margin: 1.6rem auto;
}

.AddReport .date input{
    width: 100%;
    border: 1px solid rgb(206, 202, 202);
    border-radius: 4px;
    color: rgb(122, 120, 120);
    font-size: 15px;
    margin: auto;
    padding: 0.5rem;
}

.AddReport .Select input{
    margin: 0;
    border: none;
}

.AddReport .Select{
    margin: 1rem auto;
}

.AddReport .Btn{
    width: 30%;
}

@media screen and (max-width: 520px) {
  
    .Cover .Analytics{
        overflow-x: scroll;
    }
    .AddReport .wrap{
        width: 85%;
        padding: 2rem;
    }
    .AddReport input{
        width: 90%;
    }
    .AddReport .date input{
        width: 100%;
    }
    .head.displayName{
        display: block;
    }
  }
