*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: inherit;
}

.AddAccount, .Analytics{
    width: 100vw;
    min-height: 100vh;
    background: #efefef;
    padding-top: 3rem;
}

.AddAccount .head, .Wrap .head{
    display: flex;
    justify-content: center;
    color: #0c63e6;
}

.Wrap .head{
    justify-content: flex-start;
}

.Wrap .displayName{
    background: #efefef;
}

.Wrap .displayName h3{
    padding-top: 1.5rem;
}

.AddAccount .wrap, .Analytics .wrap{
    width: 60%;
    margin: auto;
    padding: 3rem 4rem;
    background: white;
    border-radius: 15px;
}

.Analytics .wrap{
    min-width: 800px;
    padding: 3rem;
}

table{
    margin-top: 2rem;
    width: 100%;
    text-align: left;
    /* border-bottom: 1px solid gray; */
}

td{
    border-bottom: 2px solid #efefef;
    padding: 1.5rem;
    padding-left: 0;
}

table small.blue{
    color: #0c63e6;
    cursor: pointer;
}

.AddAccount .select{
    width: 100%;
}

.AddAccount input{
    border: none;
    border-bottom: 1px solid rgb(122, 120, 120);
    position: relative;
    background: inherit;
    width: 30%;
    margin: 1rem auto;
    margin-right: 1rem;
    padding: 0.6rem;
}

.AddAccount .Input input{
    width: 100%;
    margin: 1.6rem auto;
}

.AddAccount .Select input{
    margin: 0;
    border: none;
}

.AddAccount .Select{
    margin: 1rem auto;
}

.AddAccount .Btn{
    width: 30%;
}

.Buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}

hr{
    border: 1px solid #0c63e6;
    margin: 2rem auto;
}

button{
    border-radius: inherit;
}

@media screen and (max-width: 900px) {
    .Btn{
        width: 100%;
        padding: 0.5rem 0.1rem;
        border-radius: 30px;
    }
  }

@media screen and (max-width: 520px) {
    .AddAccount, .Analytics{
        padding-top: 1rem;
    }
    .AddAccount .wrap{
        width: 85%;
        padding: 2rem;
    }
    .AddAccount input{
        width: 90%;
    }
  }


