.Auth .h4 {
  font-family: monospace;
  padding-top: 1rem;
  font-size: 24px;
  color: #0c63e6;
  display: flex;
  justify-content: center;
}

.Auth .logo {
  margin: auto;
  display: flex;
  justify-content: center;
}

.Auth .logo img {
  width: 70px;
}

.Auth {
  min-height: 100vh;
  width: 100vw;
  background: white;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Auth .wrap {
  width: 75%;
  margin: auto;
}

.Auth .wrap div {
  margin: 2rem auto;
}

.Auth .Box {
  width: 420px;
  height: 400px;
  margin: 0;
  box-shadow: 0px 0px 40px #00000029;
  border-radius: 38px;
  opacity: 1;
}

.Auth img {
  width: 40%;
}

.Auth input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(122, 120, 120);
  padding: 0.5rem;
}

.Btn {
  width: 150px;
  background: #0c63e6;
  margin: auto;
  margin-top: 2rem;
  padding: 0.6rem 1.5rem;
  border-radius: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: white;
}

button {
  background: inherit;
  color: white;
  border: none;
  cursor: pointer;
  margin: auto;
  width: 100%;
  height: 1.5rem;
}

/* .Loader{
  height: 10;
} */

.foot {
  color: #0c63e6;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 1rem;
}

.password {
  display: flex;
  align-items: flex-end;
}

.password i {
  color: rgb(99, 96, 96);
  border-bottom: 1px solid gray;
}

@media screen and (max-width: 520px) {
  .Auth {
    flex-direction: column-reverse;
  }
  .Auth .logo img {
    height: 70px;
  }
  .Auth .bg {
    width: 100%;
  }
  .Auth .Box {
    width: 350px;
    box-shadow: none;
  }
}
